<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button text="" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ editing ? 'Editando' : 'Novo' }} Vôo </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col class="ion-no-padding">
            <ion-card class="m0" color="light" mode="ios">
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
                            <ion-label class="fw-600" color="medium">Valor da passagem</ion-label>
                            <input type="text" class="input-light" [(ngModel)]="flight.valorPassagem" currencyMask />
                        </ion-col>
                        <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
                            <ion-label class="fw-600" color="medium">Data partida</ion-label>
                            <ion-input class="input-light" readonly value="{{ flight.dataPartida | date: 'dd/MM/yyyy HH:mm' }}" id="date" placeholder="Selecionar data"></ion-input>
                            <ion-popover class="date-popover" trigger="date" show-backdrop="false">
                                <ng-template>
                                    <ion-datetime #popoverDatetime [(ngModel)]="flight.dataPartida" presentation="date-time" (ionChange)="flight.dataPartida = popoverDatetime.value;" doneText="Selecionar" showDefaultTimeLabel="false" showDefaultButtons="true" cancelText="">
                                    </ion-datetime>
                                </ng-template>
                            </ion-popover>
                        </ion-col>
                        <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
                            <ion-label class="fw-600" color="medium">Destino</ion-label>
                            <ion-select class="input-light" value="" multiple="false" [(ngModel)]="destiny_id" placeholder="Selecione o destino" cancelText="Cancelar" okText="Selecionar" [disabled]="loading_destinations">
                                <ion-select-option *ngFor="let destiny of destinations" value="{{destiny.id}}">{{ destiny.name }}</ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
                            <ion-label class="fw-600" color="medium">Aeronave</ion-label>
                            <ion-select value="" multiple="false" class="input-light" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="airplane_id" placeholder="Selecione a aeronave" [disabled]="loading_airplanes">
                                <ion-select-option *ngFor="let airplane of airplanes" value="{{airplane.id}}">{{ airplane.modelo }}</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

            <ion-card class="m0" color="light" mode="ios" *ngIf="flight.id">
                <ion-list class="no-border mb-0" lines="full" mode="ios">
                    <!-- header -->
                    <ion-item-divider color="frut2" mode="md">
                        <ion-col size="1">CÓD.</ion-col>
                        <ion-col size="3">
                            Nome
                        </ion-col>
                        <ion-col size="3">Data de nascimento</ion-col>
                        <ion-col size="3">Valor pago</ion-col>
                    </ion-item-divider>

                    <!-- items -->
                    <ion-item-sliding *ngFor="let passenger of passengers" #slidingItem>
                        <ion-item>
                            <ion-col size="1">#{{ passenger.id }}</ion-col>
                            <ion-col size="3">
                                {{ passenger.passenger.name }}
                            </ion-col>
                            <ion-col size="3">{{ passenger.passenger.birth_date }}</ion-col>
                            <ion-col size="3">{{ passenger.payed_value | currency: 'R$' }}</ion-col>
                        </ion-item>
                    </ion-item-sliding>

                    <ng-container *ngIf="loading">
                        <div *ngFor="let tr of trs">
                            <ion-skeleton-text animated style="width: 100%; height: 50px"></ion-skeleton-text>
                        </div>
                    </ng-container>

                    <ion-row class="no-border text-center mt-15" *ngIf="passengers.length">
                        <ion-col>
                            <ion-label color="medium" class="p20">
                                Todos os registros foram listados <ion-icon name="thumbs-up" color="medium"></ion-icon>
                            </ion-label>
                        </ion-col>
                    </ion-row>

                    <ion-row color="light" class="text-center" *ngIf="!loading_passengers && !passengers.length">
                        <ion-col>
                            <ion-label class="padding-top padding-bottom">
                                Não há registros.
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row class="mt-20">
        <ion-col size="12" size-sm="4">
            <ion-button (click)="save()" expand="full" shape="round" mode="ios" color="success">
                Salvar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>